<h1>Events</h1>
<p>Email me at <%= link_to 'brian@callmekung.com', 'mailto:brian@callmekung.com' %> if you're interested in hosting an event near you!</p>
<table>
<% @events.each do |event| %>
  <tr>
    <td><%= Chapter.find_by_id(event.chapter_id).location if event.chapter_id %></td>
    <td><%= link_to event.name, event_path(event) %></td>
    <% if admin_signed_in? %>
      <% if current_admin.id != event.admin_id %>
        <th><i>belongs to <%= Admin.find(event.admin_id)[:email] %></i></th>
      <% elsif event.finalized %>
        <th><i>finalized</i></th>
      <% else %>
        <th><%= link_to "Manage", manage_event_path(event) %></th>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
