<div class="event">
<% if flash[:edit] == :event %>
  <%= form_for @event, method: :patch do |f| %>
    <%= f.text_field :name, value: @event.name, placeholder: 'Type "delete" to delete entire event', size: 40, style: 'font-size: xx-large; height: 2em;', id: 'edit' %>
    <%= f.submit %>
  <% end %>
<% else %>
<h1><%= link_to @event.name, edit_event_path(@event.id) %></h1>
<% end %>
<table>
<tbody>
<% @teams.each do |team| %>
<tr>
<td>
<% if flash[:edit] == :team && flash[:team_id] == team.id %>
  <%= form_for team, method: :patch do |f| %>
    <%= f.text_field :name, value: team.name, placeholder: 'Type "delete" to delete team', size: 30, id: 'edit' %>
    <%= f.submit %>
  <% end %>
<% else %>
<%= link_to team.name, edit_team_path(team.id) %>
<% end %>
</td>
<td align="right">
[<%
  @submissions.each do |submission|
    if submission.team_id == team.id
      if flash[:edit] == :submission && flash[:submission_id] == submission.id 
        %><%=
        form_for submission, method: :patch do |f|
          %><%=
          f.text_field :problem, size: 2, value: submission.problem, id: 'edit'
          %><%=
          f.submit
          %><%
        end
      else
        %><%=
        link_to submission.problem, edit_submission_path(submission.id)
        %><%
      end
      %>, <%
    end
  end
%><%=
  form_for(:submission, url: submissions_path) do |f|
    %><%=
    f.hidden_field :team, value: team.id
    %><%=
    f.text_field :problem, size: 2
    %><%=
    f.submit
    %><%
  end
%>]
</td>
</tr>
<% end %>
</tbody>
<tfoot>
<tr><td>
<%=
  form_for :team, :url => teams_path do |f|
    %><%=
    f.hidden_field :event_id, value: @event.id
    %><%=
    f.text_field :name, placeholder: 'New team', size: 30
    %><%=
    f.submit
    %><%
  end
%>
</td>
<td></td>
</tr>
</tfoot>
</table>
<p>
<i>Notes. Each field belongs to its own form. Press 'enter' to submit it. Click on a text element (event name, team name, problem number) to edit it. Submitting the string "delete" will delete the event, team or submission. Submitting an empty string will delete a submission but not the event or team. Submitting the string "finalize" in the event field will protect the event from further edits.</i>
</p>
<% if flash[:edit] %>
<script>
document.getElementById('edit').select();
</script>
<% end %>
</div>
