%div.rankings_container
  %h1= @event.name
  - @boards.each do |board|
    %div.rankings.col-md-4
      %h2!= board[:title]
      %p!= board[:description]
      %table
        %thead
          %tr
            %th= # blank for CSS tr::before counter
            %th.left Team name
            %th.right Score
        %tbody
          - n = 1; prev = 0
          - board[:teams].each do |row|
            %tr
              %td.right
                - if row[:total] != prev
                  = n
                - else
                  = '='
                - n+=1; prev=row[:total]
              %td.left
                = row[:name]
                != row[:problems].to_s.gsub(/(\d+)/, '<a href="/problem/\1">\1</a>')
              %td.right= row[:total]
  - if @countdown
    %h1.countdown.col-md-12
      = @countdown
