<h1><%= @chapter.location %></h1>
<p><strong>Sign up and RSVP to future events at <%= link_to @chapter.url, @chapter.url %></strong></p>
<table>
<% if admin_signed_in? && AdminChapter.authorized?(current_admin.id, @chapter.id) %>
  <tr><th><%= link_to 'New Event', new_chapter_event_path(@chapter.id) %></th></tr>
<% end %>
<% @events.each do |event| %>
  <tr><td><%= link_to event.created_at.strftime('%D'), event_path(event) %></td>
  <% if admin_signed_in? %>
    <% if current_admin.id != event.admin_id %>
      <th><i>belongs to <%= Admin.find(event.admin_id)[:email] %></i></th>
    <% elsif event.finalized %>
      <th><i>finalized</i></th>
    <% else %>
      <th><%= link_to "Manage", manage_event_path(event) %></th>
    <% end %>
  <% end %>
  </tr>
<% end %>
</table>
