<footer>
  <div class="teaser col-md-4 col-md-offset-2">
  	<% fibs = Hash.new{ |h,k| h[k] = k < 2 ? k : h[k-1] + h[k-2] } %>
    <p><%= (1..rand(20)).map{|i|fibs[i]}.join(', ') %>...</p>
  </div>

  <div class="license col-md-4">
    <%= link_to "http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US", rel: "license" do %>
      <%= image_tag 'http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png', alt: "Creative Commons License", class: "license-image" %>
    <% end %>
    <span property="dc:title" rel="dc:type">The Project Euler Sprint</span> by <span property="cc:attributionName">Brian Kung</span> is licensed under a <%= link_to "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License", "http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US", rel: "license" %> Based on a work at <%= link_to 'http://www.eulersprint.org', 'http://www.eulersprint.org', rel: "dc:source" %>
  </div>
</footer>